@import url("../../styles/colors.css");

/* hero layout */
.heroSection {
  min-height: 500px;
  max-height: 700px;
  height: 60vh;
  /* background-image: url("../../assets/backgrounds/spcf-bg.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroContainer {
  color: var(--light-text-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.overlay {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    var(--light-gradient-color),
    /* var(--base-gradient-color) */ var(--black-gradient-color)
  );
}

/* section layout */
.defaultSectionLight {
  padding: 5rem 0;
  background-color: var(--light-bg-color);
}

.defaultSectionDark {
  padding: 5rem 0;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

/* navigation layout */
.navigation {
  overflow: hidden;
}
