@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("../../styles/colors.css");

* {
  font-style: normal;
  font-family: "Poppins", serif;
}

.loginContainer {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  background: linear-gradient(
    to bottom right,
    rgba(4, 24, 44, 1),
    rgba(3, 16, 29, 1)
  );
  color: var(--light-text-color);
}

.logo {
  width: 50px;
  height: 50px;
}
.logoText1 {
  letter-spacing: 1.15px;
  font-family: "Times New Roman", Times, serif;
  color: var(--light-text-color);
}

.logoText2 {
  font-family: "Times New Roman", Times, serif;
  color: var(--light-text-color);
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dividerRadius {
  border-radius: 10px;
}

.loginFormContainer {
  padding: 20px 0;
}

.formTextInput {
  background-color: #3c3d37;
  border: none;
  font-size: 10px;
  color: var(--light-text-color);
}

.loginButton {
  border: none;
}
